<!DOCTYPE html>
<html class="mdl-js gr__semantic-ui_com">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.9/semantic.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"> {% load static %}
    <link rel="stylesheet" href="{% static " style.css " %}">

    {% block style %}{% endblock %}

    <title>{% block title %}iso.lenta{% endblock %} - iso.lenta</title>
</head>

<body>
    <div class="atlogo">
        {% load static %}
        <img class="ui middle aligned tiny image" src="{% static "logo_b.png" %}">
        <span class="atlogoname">EASY.Lenta</span>
    </div>

    <div class="ui grid">
        <div class="left two wide column">
            <p>
                <!--  MENU -->
                <div class="ui blue left vertical inverted labeled icon menu">
                    <a href="/candidates/list" class="blue item active">
                        <i class="browser icon"></i> Главная
                    </a>
                    <a href="/candidates/list" class="item">
                        <i class="users icon"></i> Сотрудники
                    </a>
                    <a href="/candidates/list" class="item">
                        <i class="calendar icon"></i> Календарь встреч
                    </a>
                    <a href="chat.html" class="item">
                        <i class="comment icon"></i> Чат комнаты
                    </a>
                </div>
            </p>
        </div>
        <div class="fourteen wide column">
            <p>
                {% block content %}{% endblock %}
            </p>
        </div>
    </div>



    <script>
        $('.ui.basic.modal')
            .modal('show');

    </script>
    <div class="ui basic modal">
        <div class="ui icon header">
            <i class="archive icon"></i> Archive Old Messages
        </div>
        <div class="content">
            <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i> No
            </div>
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i> Yes
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.9/semantic.min.js"></script>

    {% block links %}{% endblock %}

</body>

</html>